{% extends "_base.html" %}
{% block page %}homepage{% endblock page %}
{% block content %}


<a href="{{ config.base_url }}" class="back-link">← home</a>


<div id="wrapper">
    <div id="blank"></div>
    <main>
        <section id="info">
            <div id="text">
                <div>
                    <span id="name"><strong>{{ section.title }}</strong></span>
                </div>
                <div id="bio"> {{ section.description }} </div>
            </div>
        </section>

        <br>
        <section class="layout-list">
            {% for page in section.pages %}
            <div class="post-entry">
                <a href="{{ page.path | trim_end_matches(pat='/') }}.pdf" class="post">
                    <div class="name">
                        <img src="/icon/pdf.png" alt="PDF version" width="12" height="12">
                        {{page.title}} - (PDF)
                    </div>
                </a>
            </div>
            {% endfor %}
        </section>

        <!-- <br>
        <section class="layout-list">
            {% for subsection_path in section.subsections %}
            {% set sub = get_section(path=subsection_path) %}
            {% for page in sub.pages %}
            <div class="post-entry">
                <a href="{{ page.path }}" class="post">
                    <div class="name">
                        <img src="/icon/web.png" alt="Web version" width="12" height="12">
                        {{page.title}} - (Web)
                    </div>
                </a>
            </div>
            {% endfor %}
            {% endfor %}
        </section> -->

    </main>
</div>
{% endblock content %}